:root{
    --primary-color: #f07807;
    --secundary-color: #f7e5d8;
    --default-shadow:  0 4px 8px #0005;
    --defaulty-padding: 0 80px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 a{
    text-decoration: none;
    color: inherit;
 }

 ul,li, ol{
    list-style: none;
 }

 body{
   font-family: "Poppins", sans-serif;
 }

 header{
    display: flex;
    position: fixed;
    height: 60px;
    width: 100vw;
    top: 60px;
    justify-content: space-between;
    align-items: center;
    padding: var(--defaulty-padding);
 }

 header menu{
    display: flex;
    
    justify-content: space-between;
    gap: 48px;
    align-items: center;
    font-family: "Poppins", sans-serif;
 }

 header li{
    padding: 4px 8px;
    transition: .5s;
 }

 header li:hover{
    box-shadow: var(--default-shadow);
    background-color: var(--secundary-color);
 }


 .login{
    display: flex;
    height: 48px;
    width: 120px;
    gap: 8px;
    border-radius: 12px;
    border: none;
    background-color: var(--secundary-color);
    align-items: center;
    justify-content: center;
 }

 .login:hover{
   box-shadow: var(--default-shadow);
 }

 span{
    color: var(--primary-color);
 }
 main{

 }

 section{
   height: 100vh;
   padding: var(--defaulty-padding);
 }

 .home{
   background-color:var(--secundary-color);
   background-image: url(./img/bg-home.svg);
   background-repeat: no-repeat;
   background-position: top right;
   background-size: contain;
   display: grid;
   grid-template-rows: 3fr 1fr;
 }

 .container-slogan{
   display: flex;
   justify-content: center;
   align-items: end;
   gap: 64px;
 }

 .slogan{
   position: relative;
   bottom: 90px;
   width: 560px;
   font-size: 4rem;
   font-weight: 400;
   font-style: italic;
 }

 .slogan span{
   color: var(--primary-color);
 }

 .container-pizzas{
   display: flex;
   align-items: center;
   justify-content: space-between;
   
 }

 .pizza{
    background-color: pink;
    position: relative;
    display: flex;
    align-items: end;
    overflow: hidden;

 }

 .pizza:hover .add-pizza{
    opacity: 1;
 }

 .add-pizza{
   width: 40px;
   height: 40px;
   background-color: var(--primary-color);
   border-radius: 12px;
   border: 4px solid white;
   color: white;
   font-size: 2rem;
   display: grid;
   place-content: center;
   position: absolute;
   right: -16px;
   top: -16px;
   transition: .5s;
   opacity: 0;
   z-index: 9;
 }

 .container-info{
    height: 36px;
    background-color: black;
    position: absolute;
    width: 100%;
    bottom: -36;
    background-color: #0009;
    transition: .5s;
    border-radius: 0 0 12px 12px;
 }
 .pizza:hover .container-info:hover{
    bottom: 0;
 }
 
 .pizza:hover{
    overflow: visible;
 }

 .cardapio{
   background-color: plum;
 }
 .servicos{
   background-color: lightblue;
 }

 footer{

    height: 526px;
 }